html,
body {
    height: 100%;
}

body {
    background-image:
        linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
        url("https://images.unsplash.com/photo-1559521783-1d1599583485?auto=format&fit=crop&w=1950&q=80");
    background-size: cover;
    background-position: center;
    text-shadow: 0 0.05rem 0.1rem rgba(0, 0, 0, 0.5);
    box-shadow: inset 0 0 5rem rgba(0, 0, 0, 0.5);
}

.cover-container {
    max-width: 600px;
}

.nav-link {
    
    padding: 1rem 0 0 0;
    font-weight: 600;
    color: rgba(255, 255, 255, 0.6);
    margin-left: 1rem;
    border-bottom: 0.2rem solid transparent;
}

.nav-link:hover {
    color: white;
    border-bottom-color: rgba(255, 255, 255, 0.6);
}

.nav-link.active {
    color: white;
    border-bottom-color: white;
}

.hero-paragraph,
.hero-button {
  opacity: 0;
  transform: translateY(20px);
}

.hero-paragraph {
  animation: fadeUp 0.8s ease-out forwards;
  animation-delay: 0.6s;
}

.hero-button {
  animation: fadeUp 0.8s ease-out forwards;
  animation-delay: 1.4s;
}

@keyframes fadeUp {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}


