main {
  animation: pageLoad 0.6s ease-out;
  font-family: var(--font-body);
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}


@keyframes pageLoad {
  from {
    opacity: 0;
    transform: translateY(15px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

body{
    background-color: var(--color-neutral-100)
}


/* Custom Scrollbar */
::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  background: var(--color-green-400);
  border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
  background: var(--color-neutral-300);
}


main h1,
main h2,
main h3,
main h4,
main h5 {
  font-family: var(--font-heading);
  font-weight: 400;
  font-style: normal;
}
/* 
Loading Animation
.loading {
  display: inline-block;
  width: 20px;
  height: 20px;
  border: 3px solid rgba(255,255,255,.3);
  border-radius: 50%;
  border-top-color: white;
  animation: spin 1s ease-in-out infinite;
}

@keyframes spin {
  to { transform: rotate(360deg); }
} */
