.card {
  border: none;
  background-color: var(--color-neutral-50);
  border-radius: var(--radius-sm);
  box-shadow: var(--shadow-sm);
  transition: var(--transition);
  overflow: hidden;
}
.card-style{
    background-color: var(--color-neutral-50);
}

