
.navbar-modern {
  background: var(--color-green-400);
  backdrop-filter: blur(20px);
  -webkit-backdrop-filter: blur(20px);
  border-bottom: 1px solid var(--color-glass-border);
  transition: var(--transition);
}

.navbar-modern.scrolled {
  background: rgba(15, 16, 12, 0.643);
  box-shadow: var(--shadow-md);
}
.btn-toggle-color{
  color: var(--color-neutral-300);
}

/* Nav Links */

.navbar-modern .nav-link {
  border-radius: var(--radius-md);
  transition: var(--transition);
  color: var(--color-neutral-300);
}

.navbar-modern .nav-link:hover {
  background: rgba(255,255,255,0.08);
}

.navbar-modern .nav-link.active {
  background: rgba(255,255,255,0.15);
}

.navbar-modern .navbar-toggler {
  border-color: var(--color-neutral-300);
}

.navbar-modern .navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='white' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
}


/* Brand */
.navbar-brand{
  font-family: var(--font-brand);
  border-radius: var(--radius-md);
  transition: var(--transition);
  color: var(--color-neutral-300);
  font-weight: 900;
  font-style: normal;
}

.navbar-brand:hover{
  color: var(--color-neutral-300);
}

/* User box */
.logged-user-box {
  color:var(--color-neutral-300);

    width: auto;
  align-self: flex-start;

  background: rgba(255, 255, 255, 0.08);
  backdrop-filter: blur(12px);
  -webkit-backdrop-filter: blur(12px);

  border: 1px solid rgba(255, 255, 255, 0.2);
  border-radius: var(--radius-sm);

 font-weight: 500; 
  padding: 0.5rem 1rem;
  margin-right: 0.2rem;
  transition: 0.3s ease; 
}

.logged-user-box:hover {
  background: rgba(255, 255, 255, 0.15);
  
}



